* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color: #757575;
  font-family: "DM Sans", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.625;
}

.icon {
  color: #ff3366;
}

.title {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.divider-1 {
  background: linear-gradient(270deg, #ff3366 0%, rgba(244, 205, 214, 0.34) 100%);
  border: none;
  height: 1px;
  width: 100%;
}

.divider-2 {
  background: linear-gradient(90deg, #ff3366 0%, rgba(244, 205, 214, 0.34) 100%);
  border: none;
  height: 1px;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

.container {
  width: 87%;
  margin: auto;
}

.header {
  color: crimson;
  background: #fafafa;
  border-bottom: 1px solid #e3e3e3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

.navbar {
  align-items: center;
  display: flex;
  font-size: 2.1rem;
  height: 7.2rem;
  justify-content: space-between;
}
.navbar__logo {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.navbar__logo--primary {
  color: #ff3366;
}
.navbar__open {
  cursor: pointer;
  font-size: 2.4rem;
  opacity: 0;
  position: relative;
  top: 2.1rem;
  transition: opacity 0.25s, top 0.25s, visibility 0.25s;
  visibility: hidden;
}
.navbar__open.show {
  opacity: 1;
  top: 0;
  visibility: visible;
}
.navbar__close {
  cursor: pointer;
  font-size: 2.4rem;
  opacity: 0;
  position: absolute;
  right: 6.5vw;
  top: 0;
  transition: opacity 0.25s, top 0.25s, visibility 0.25s;
  visibility: hidden;
  z-index: 30;
}
.navbar__close.show {
  opacity: 1;
  top: 2.1rem;
  visibility: visible;
}

.menu {
  background-color: white;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -10rem;
  transition: opacity 0.25s, top 0.25s, visibility 0.25s;
  visibility: hidden;
  width: 100vw;
  z-index: 20;
}
.menu.show {
  opacity: 1;
  top: 0;
  visibility: visible;
}
.menu__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding: 10rem 0;
}
.menu__item {
  list-style: none;
}
.menu__link {
  position: relative;
  text-decoration: none;
  transition: color 0.25s;
}
.menu__link::after {
  background: #ff3366;
  border-radius: 5rem;
  bottom: 0;
  content: "";
  height: 0.2rem;
  left: 0;
  position: absolute;
  transition: width 0.25s;
  width: 0;
}
.menu__link:hover {
  color: #ff3366;
}
.menu__link:hover::after {
  width: 100%;
}

.main {
  margin-top: 7.2rem;
}

.section {
  padding: 8rem 0;
}

.hero {
  background: #fafafa;
  overflow: hidden;
  padding: 7.2rem 0 8rem;
  text-align: center;
}
.hero__figure {
  line-height: 0;
  position: relative;
  right: 10%;
  z-index: 1;
}
.hero__figure::before {
  background-color: #ff3366;
  border-radius: 0.4rem;
  bottom: 15%;
  content: "";
  height: 103%;
  left: 16%;
  position: absolute;
  width: 103%;
  z-index: -1;
}
.hero__photo {
  border-radius: 0.4rem;
  width: 103%;
}
.hero__title {
  margin-top: 3.2rem;
}
.hero__text {
  line-height: 1.5;
  margin-top: 1.6rem;
}
.hero__button {
  background: #ff3366;
  border-radius: 0.4rem;
  color: white;
  display: inline-flex;
  font-weight: 500;
  margin-top: 3.6rem;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  transition: background 0.25s;
}
.hero__button:hover {
  background: #f77898;
}

.about {
  overflow: hidden;
}
.about__figure {
  line-height: 0;
  position: relative;
  right: 3%;
  z-index: 1;
}
.about__figure::before {
  background-color: #ff3366;
  border-radius: 0.4rem;
  bottom: 6%;
  content: "";
  height: 103%;
  position: absolute;
  right: 30%;
  width: 103%;
  z-index: -1;
}
.about__photo {
  border-radius: 0.4rem;
  width: 103%;
}
.about__title {
  margin-top: 3.2rem;
}
.about__text {
  line-height: 1.6;
  margin-top: 2.8rem;
}
.about__text:first-of-type {
  margin-top: 1.6rem;
}

.services {
  background: #fafafa;
}
.services__text {
  margin-top: 1.6rem;
}
.services__text--primary {
  color: #ff3366;
}
.services__deck {
  display: grid;
  gap: 2.4rem;
  margin-top: 6.4rem;
}

.service {
  align-items: center;
  background: #fafafa;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 5.8rem 3.2rem;
  position: relative;
  width: 100%;
}
.service::after {
  background: #ff3366;
  bottom: 0;
  content: "";
  height: 0.4rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.service__icon {
  font-size: 8rem;
}
.service__title {
  font-size: 2.4rem;
  margin-top: 2.4rem;
}
.service__text {
  margin-top: 1.2rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
