* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --hue: 345;
  --color-black: hsl(0, 0%, 0%);
  --color-bright: hsl(0, 0%, 100%);
  --color-primary: hsl(var(--hue), 100%, 60%);
  --color-primary-light: hsl(var(--hue), 89%, 72%);
  --color-neutral: hsl(0, 0%, 46%);
  --color-neutral-light: hsl(0, 0%, 89%);
  --color-neutral-lightest: hsl(0, 0%, 98%);
  font-size: 62.5%;
  --font-size: 1.6rem;
  --title-size: 3rem;
  --icon-size: 2.4rem;
  --container-size: 87%;
  --horizontal-offset: 6.5%;
  --vertical-offset: 2.1rem;
  --border-radius: .4rem;
  --box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-neutral);
  font-family: "DM Sans", sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.625;
}

.container {
  margin: auto;
  width: var(--container-size);
}

.divider-1 {
  background: linear-gradient(270deg, var(--color-primary) 0%, hsla(var(--hue), 65%, 88%, 0.34) 100%);
  border: none;
  height: 1px;
  width: 100%;
}

.divider-2 {
  background: linear-gradient(90deg, var(--color-primary) 0%, hsla(var(--hue), 65%, 88%, 0.34) 100%);
  border: none;
  height: 1px;
  width: 100%;
}

.header {
  background: var(--color-neutral-lightest);
  border-bottom: 0.1rem solid var(--color-neutral-light);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header.scroll {
  box-shadow: var(--box-shadow);
}

.navbar {
  align-items: center;
  display: flex;
  height: 7.2rem;
  justify-content: space-between;
}
.navbar__logo {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  text-decoration: none;
}
.navbar__logo--primary {
  color: var(--color-primary);
}
.navbar__open {
  color: var(--color-primary);
  font-size: var(--icon-size);
  cursor: pointer;
  font-size: var(--icon-size);
  opacity: 0;
  position: relative;
  top: 2.1rem;
  transition: opacity 0.25s, top 0.25s, visibility 0.25s;
  visibility: hidden;
}
.navbar__open.show {
  opacity: 1;
  top: 0;
  visibility: visible;
}
.navbar__close {
  color: var(--color-primary);
  font-size: var(--icon-size);
  cursor: pointer;
  font-size: var(--icon-size);
  opacity: 0;
  position: absolute;
  right: var(--horizontal-offset);
  top: 0;
  transition: opacity 0.25s, top 0.25s, visibility 0.25s;
  visibility: hidden;
  z-index: 30;
}
.navbar__close.show {
  opacity: 1;
  top: 2.1rem;
  visibility: visible;
}

.menu {
  background-color: var(--color-bright);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -10rem;
  transition: opacity 0.25s, top 0.25s, visibility 0.25s;
  visibility: hidden;
  width: 100vw;
  z-index: 20;
}
.menu.show {
  opacity: 1;
  top: 0;
  visibility: visible;
}
.menu__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding: 10rem 0;
}
.menu__link {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: var(--title-size);
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  transition: color 0.25s;
}
.menu__link::after {
  background: var(--color-primary);
  border-radius: 5rem;
  bottom: 0;
  content: "";
  height: 0.2rem;
  left: 0;
  position: absolute;
  transition: width 0.25s;
  width: 0;
}
.menu__link:hover {
  color: var(--color-primary);
}
.menu__link:hover::after {
  width: 100%;
}

.main {
  margin-top: 7.2rem;
}

.hero {
  padding: 8rem 0;
  background: var(--color-neutral-lightest);
  overflow: hidden;
  padding: 7.2rem 0 8rem;
  text-align: center;
}
.hero__figure {
  line-height: 0;
  position: relative;
  right: 10%;
  z-index: 1;
}
.hero__figure::before {
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius);
  bottom: 15%;
  content: "";
  height: min(103%, 56rem);
  left: 16%;
  position: absolute;
  width: min(103%, 56rem);
  z-index: -1;
}
.hero__photo {
  border-radius: var(--border-radius);
  width: min(103%, 56rem);
}
.hero__title {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: var(--title-size);
  font-weight: 700;
  line-height: 1.5;
  margin-top: 3.2rem;
}
.hero__text {
  line-height: 1.5;
  margin-top: 1.6rem;
}
.hero__button {
  background: var(--color-primary);
  border-radius: var(--border-radius);
  color: var(--color-bright);
  display: inline-flex;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  transition: background 0.25s;
  margin-top: 3.6rem;
}
.hero__button:hover {
  background: var(--color-primary-light);
}

.about {
  padding: 8rem 0;
  overflow: hidden;
}
.about__figure {
  line-height: 0;
  position: relative;
  right: 3%;
  z-index: 1;
}
.about__figure::before {
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius);
  bottom: 6%;
  content: "";
  height: min(103%, 61.5rem);
  position: absolute;
  right: 30%;
  width: min(103%, 61.5rem);
  z-index: -1;
}
.about__photo {
  border-radius: var(--border-radius);
  width: min(103%, 61.5rem);
}
.about__title {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: var(--title-size);
  font-weight: 700;
  line-height: 1.5;
  margin-top: 3.2rem;
}
.about__text {
  margin-top: 2.8rem;
}
.about__text:first-of-type {
  margin-top: 1.6rem;
}

.services {
  padding: 8rem 0;
  background: var(--color-neutral-lightest);
}
.services__title {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: var(--title-size);
  font-weight: 700;
  line-height: 1.5;
}
.services__text {
  margin-top: 1.6rem;
}
.services__text--primary {
  color: var(--color-primary);
}
.services__deck {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  margin-top: 6.4rem;
}

.service {
  align-items: center;
  background: var(--color-neutral-lightest);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 5.8rem 3.2rem;
  position: relative;
  text-align: center;
  width: 100%;
}
.service::after {
  background: var(--color-primary);
  bottom: 0;
  content: "";
  height: 0.4rem;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.service__icon {
  color: var(--color-primary);
  font-size: var(--icon-size);
  font-size: 8rem;
}
.service__title {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: var(--title-size);
  font-weight: 700;
  line-height: 1.5;
  font-size: 2.4rem;
  margin-top: 2.4rem;
}
.service__text {
  margin-top: 1.2rem;
}

.testimonials {
  padding: 8rem 0;
}
.testimonials__title {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: var(--title-size);
  font-weight: 700;
  line-height: 1.5;
  margin: auto;
  width: var(--container-size);
}
.testimonials__pagination {
  position: static;
}

.testimonial {
  display: grid;
  margin-top: 4rem;
  height: auto;
}
.testimonial__figure {
  margin: 2.4rem auto;
  width: var(--container-size);
}
.testimonial__quote {
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 3.2rem;
}
.testimonial__text {
  color: var(--color-black);
  position: relative;
  text-indent: 2.5rem;
}
.testimonial__text--decoration {
  color: var(--color-primary);
  font-family: sans;
  font-size: 4.4rem;
  left: -2.5rem;
  position: absolute;
  top: -1.5rem;
}
.testimonial__user {
  align-items: center;
  display: flex;
  margin-top: 2.4rem;
}
.testimonial__photo {
  border-radius: 50%;
  width: 3.2rem;
}
.testimonial__name {
  margin-left: 0.8rem;
}

.swiper-pagination-bullet {
  height: 1rem;
  width: 1rem;
}
.swiper-pagination-bullet-active {
  background: var(--color-primary);
}

.contact {
  padding: 8rem 0;
  background: var(--color-neutral-lightest);
}
.contact__title {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: var(--title-size);
  font-weight: 700;
  line-height: 1.5;
}
.contact__text {
  margin-top: 1.6rem;
}
.contact__button {
  background: var(--color-primary);
  border-radius: var(--border-radius);
  color: var(--color-bright);
  display: inline-flex;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  transition: background 0.25s;
  margin-top: 3.2rem;
}
.contact__button:hover {
  background: var(--color-primary-light);
}
.contact__button--mod {
  font-size: var(--icon-size);
  margin-right: 1rem;
}
.contact__icon {
  color: var(--color-primary);
  font-size: var(--icon-size);
  font-size: var(--icon-size);
  margin-right: 1.2rem;
}
.contact__list {
  display: grid;
  gap: 3.2rem;
  margin-top: 6.4rem;
}
.contact__item {
  align-items: center;
  display: flex;
  line-height: 0;
}

.footer {
  background: var(--color-primary);
  color: var(--color-neutral-lightest);
  padding: 6.4rem 0;
}
.footer__logo {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  text-decoration: none;
}
.footer__logo--lightest {
  color: var(--color-neutral-lightest);
}
.footer__copyright {
  margin-top: 2.4rem;
}
.footer__rights {
  margin-top: 1.2rem;
  font-size: var(--font-size);
}
.footer__networks {
  display: flex;
  gap: 3.2rem;
  margin-top: 3.2rem;
}
.footer__social {
  list-style: none;
}
.footer__link {
  display: inline-block;
  font-size: var(--icon-size);
  position: relative;
}
.footer__link::after {
  background: var(--color-bright);
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-neutral-lightest) 100%);
  border-radius: 5rem;
  bottom: 0;
  content: "";
  height: 0.2rem;
  left: 0;
  position: absolute;
  transition: width 0.25s;
  width: 0%;
  z-index: 100;
}
.footer__link:hover::after {
  width: 100%;
}
.footer__icon {
  color: var(--color-primary);
  font-size: var(--icon-size);
  color: var(--color-neutral-lightest);
}

.go-top {
  bottom: var(--vertical-offset);
  position: fixed;
  opacity: 0;
  right: var(--horizontal-offset);
  transform: translateY(100%);
  transition: opacity 0.25s, transform 0.25s, visibility 0.25s;
  visibility: 0;
  z-index: 40;
}
.go-top.show {
  opacity: 1;
  transform: translateY(0);
  visibility: 1;
}
.go-top__link {
  align-items: center;
  background: var(--color-primary-light);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  padding: 0.8rem;
}
.go-top__icon {
  color: var(--color-primary);
  font-size: var(--icon-size);
  color: var(--color-bright);
}

@media screen and (min-width: 667px) {
  .services__deck {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .service {
    flex: 1;
    min-width: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
