@mixin section {
  padding: var(--section-padding) 0;
}

@mixin container {
  margin: auto;
  width: min(var(--container-size), 112rem);
}

@mixin center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@mixin text {
  color: var(--color-neutral);
  font-family: 'DM Sans', sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.625;
}

@mixin title {
  color: var(--color-black);
  font-family: 'Poppins', sans-serif;
  font-size: var(--title-size);
  font-weight: 700;
  line-height: 1.5;
}

@mixin logo {
  color: var(--color-black);
  font-family: 'Poppins', sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  text-decoration: none;
}

@mixin button {
  background: var(--color-primary);
  border-radius: var(--border-radius);
  color: var(--color-bright);
  display: inline-flex;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  transition: background .25s;

  &:hover {
    background: var(--color-primary-light);
  }
}

@mixin icon {
  color: var(--color-primary);
  font-size: var(--icon-size);
}

//===== RESET =====------------------------------//
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

//===== BASE =====------------------------------//
:root {
  --hue: 345;
  --color-black: hsl(0, 0%, 0%);
  --color-bright: hsl(0, 0%, 100%);
  --color-primary: hsl(var(--hue), 100%, 60%);
  --color-primary-light: hsl(var(--hue), 89%, 72%);
  --color-neutral: hsl(0, 0%, 46%);
  --color-neutral-light: hsl(0, 0%, 89%);
  --color-neutral-lightest: hsl(0, 0%, 98%);

  font-size: 62.5%;
  --font-size: 1.6rem;
  --title-size: 3rem;
  --icon-size: 2.4rem;

  --container-size: 87%;
  --horizontal-offset: 6.5%;
  --vertical-offset: 2.1rem;

  --section-padding: 8rem;

  --border-radius: .4rem;

  --box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

html {
  scroll-behavior: smooth;
}

body {
  @include text;
}

.container { //remover
  @include container;
}

.divider-1 {
  background: linear-gradient(270deg, var(--color-primary) 0%, hsla(var(--hue), 65%, 88%, 0.34) 100%);
  border: none;
  height: 1px;
  width: 100%;
}

.divider-2 {
  background: linear-gradient(90deg, var(--color-primary) 0%, hsla(var(--hue), 65%, 88%, 0.34) 100%);
  border: none;
  height: 1px;
  width: 100%;
}

//===== HEADER =====------------------------------//
.header {
  background: var(--color-neutral-lightest);
  border-bottom: .1rem solid var(--color-neutral-light);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &.scroll {
    box-shadow: var(--box-shadow);
  }
}

.navbar {
  align-items: center;
  display: flex;
  height: 7.2rem;
  justify-content: space-between;

  &__logo {
    @include logo;

    &--primary {
      color: var(--color-primary);
    }
  }

  &__open {
    @include icon;

    cursor: pointer;
    font-size: var(--icon-size);
    opacity: 0;
    position: relative;
    top: 2.1rem;
    transition: opacity .25s, top .25s, visibility .25s;
    visibility: hidden;

    &.show {
      opacity: 1;
      top: 0;
      visibility: visible;
    }
  }

  &__close {
    @include icon;

    cursor: pointer;
    font-size: var(--icon-size);
    opacity: 0;
    position: absolute;
    right: var(--horizontal-offset);
    top: 0;
    transition: opacity .25s, top .25s, visibility .25s;
    visibility: hidden;
    z-index: 30;

    &.show {
      opacity: 1;
      top: 2.1rem;
      visibility: visible;
    }
  }
}

.menu {
  background-color: var(--color-bright);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -10rem;
  transition: opacity .25s, top .25s, visibility .25s;
  visibility: hidden;
  width: 100vw;
  z-index: 20;

  &.show {
    opacity: 1;
    top: 0;
    visibility: visible;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    padding: 10rem 0;
  }

  &__link {
    @include title;

    position: relative;
    transition: color .25s;

    &::after {
      background: var(--color-primary);
      border-radius: 5rem;
      bottom: 0;
      content: '';
      height: .2rem;
      left: 0;
      position: absolute;
      transition: width .25s;
      width: 0;
    }

    &:hover {
      color: var(--color-primary);

      &::after {
        width: 100%;
      }
    }
  }
}

//===== MAIN =====------------------------------//
.main {
  margin-top: 7.2rem;
}

//===== HERO =====------------------------------//
.hero {
  $photo-size: 103%;
  $photo-max-size: 56rem;

  @include section;
  background: var(--color-neutral-lightest);
  overflow: hidden;
  padding: 7.2rem 0 8rem;

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__figure {
    @include center;
    line-height: 0;
    max-width: $photo-max-size;
    position: relative;
    right: 10%;
    width: $photo-size;
    z-index: 1;

    &::before {
      background-color: var(--color-primary-light);
      border-radius: var(--border-radius);
      bottom: 15%;
      content: '';
      height: 100%;
      left: 16%;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }

  &__photo {
    border-radius: var(--border-radius);
    max-width: $photo-max-size;
    width: $photo-size;
  }

  &__info {
    @include container;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__title {
    @include title;
    margin-top: 3.2rem;
    max-width: 33rem;
  }

  &__text {
    line-height: 1.5;
    margin-top: 1.6rem;
    max-width: 30rem;
  }

  &__button {
    @include button;
    margin-top: 3.6rem;
  }
}

//===== ABOUT =====------------------------------//
.about {
  @include section;
  $photo-size: 103%;
  $photo-max-size: 61.5rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  overflow: hidden;

  &__figure {
    line-height: 0;
    max-width: $photo-max-size;
    position: relative;
    right: 3%;
    width: $photo-size;
    z-index: 1;

    &::before {
      background-color: var(--color-primary-light);
      border-radius: var(--border-radius);
      bottom: 6%;
      content: '';
      height: 100%;
      position: absolute;
      right: 30%;
      width: 100%;
      z-index: -1;
    }
  }

  &__photo {
    border-radius: var(--border-radius);
    max-width: $photo-max-size;
    width: $photo-size;
  }

  &__block {
    @include container();
  }

  &__title {
    @include title;
  }

  &__text {
    margin-top: 2.8rem;
  }

  &__text:first-of-type {
    margin-top: 1.6rem;
  }
}

//===== SERVICES =====------------------------------//
.services {
  @include section;

  background: var(--color-neutral-lightest);

  &__block {
    @include container();
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include title;
  }

  &__text {
    margin-top: 1.6rem;
    max-width: 52rem;

    &--primary {
      color: var(--color-primary);
    }
  }

  &__deck {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;
    margin-top: 6.4rem;
  }
}

.service {
  align-items: center;
  background: var(--color-neutral-lightest);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 5.8rem 3.2rem;
  position: relative;
  text-align: center;
  width: 100%;

  &::after {
    background: var(--color-primary);
    bottom: 0;
    content: '';
    height: .4rem;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &__icon {
    @include icon;
    font-size: 8rem;
  }

  &__title {
    @include title;
    font-size: 2.4rem;
    margin-top: 2.4rem;
  }

  &__text {
    margin-top: 1.2rem;
  }
}

//===== TESTIMONIALS =====------------------------------//
.testimonials {
  @include section;

  &__title {
    @include title;
    margin-left: var(--horizontal-offset);
    max-width: 40rem;
    width: var(--container-size);
  }

  &__block {
    margin-top: 4rem;
  }

  &__pagination {
    position: static;
  }
}

.testimonial {
  display: grid;
  height: auto;

  &__figure {
    margin: 2.4rem auto;
    width: var(--container-size);
  }

  &__quote {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 3.2rem;
  }

  &__text {
    color: var(--color-black);
    position: relative;
    text-indent: 2.5rem;

    &--decoration {
      color: var(--color-primary);
      font-family: sans;
      font-size: 4.4rem;
      left: -2.5rem;
      position: absolute;
      top: -1.5rem;
    }
  }

  &__user {
    align-items: center;
    display: flex;
    margin-top: 2.4rem;
  }

  &__photo {
    border-radius: 50%;
    width: 3.2rem;
  }

  &__name {
    margin-left: .8rem;
  }
}

.swiper-pagination-bullet {
  height: 1rem;
  width: 1rem;

  &-active {
    background: var(--color-primary);
  }
}

//===== CONTACT =====------------------------------//
.contact {
  @include section;
  background: var(--color-neutral-lightest);

  &__block {
    @include container();
  }

  &__title {
    @include title;
    max-width: 27rem;
  }

  &__text {
    margin-top: 1.6rem;
    max-width: 36rem;
  }

  &__button {
    @include button;

    margin-top: 3.2rem;

    &--mod {
      font-size: var(--icon-size);
      margin-right: 1rem;
    }
  }

  &__icon {
    @include icon;

    font-size: var(--icon-size);
    margin-right: 1.2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 6.4rem;
  }

  &__item {
    align-items: center;
    display: flex;
    line-height: 0;
  }
}

//===== FOOTER =====------------------------------//
.footer {
  background: var(--color-primary);
  color: var(--color-neutral-lightest);
  padding: 6.4rem 0;

  &__block {
    @include container();
  }

  &__logo {
    @include logo;

    &--lightest {
      color: var(--color-neutral-lightest);
    }
  }

  &__copyright {
    margin-top: 2.4rem;
  }

  &__rights {
    margin-top: 1.2rem;
    font-size: var(--font-size);
  }

  &__networks {
    display: flex;
    gap: 3.2rem;
    margin-top: 3.2rem;
  }

  &__social {
    list-style: none;
  }

  &__link {
    display: inline-block;
    font-size: var(--icon-size);
    position: relative;

    &::after {
      background: var(--color-bright);
      background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-neutral-lightest) 100%);
      border-radius: 5rem;
      bottom: 0;
      content: '';
      height: .2rem;
      left: 0;
      position: absolute;
      transition: width .25s;
      width: 0%;
      z-index: 100;
    }

    &:hover {

      &::after {
        width: 100%;
      }
    }
  }

  &__icon {
    @include icon;
    color: var(--color-neutral-lightest);
  }
}

//===== GO-TOP =====------------------------------//
.go-top {
  bottom: var(--vertical-offset);
  position: fixed;
  opacity: 0;
  right: var(--horizontal-offset);
  transform: translateY(100%);
  transition: opacity .25s, transform .25s, visibility .25s;
  visibility: 0;
  z-index: 40;

  &.show {
    opacity: 1;
    transform: translateY(0);
    visibility: 1;
  }

  &__link {
    align-items: center;
    background: var(--color-primary-light);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    padding: .8rem;
  }

  &__icon {
    @include icon;
    color: var(--color-bright);
  }
}

//===== MEDIA QUERIES =====------------------------------//
@media screen and (min-width: 667px) {

  .services {
    &__deck {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .service {
    flex: 1;
    min-width: 40%;
  }

}

@media screen and (min-width: 768px) {

  .testimonials {
    &__title {
      margin: 0 auto;
      text-align: center;
    }

    &__block {
      width: var(--container-size);
    }
  }

  .testimonial {
    &__figure {
      width: 90%;
    }
  }

}

@media screen and (min-width: 1024px) {

  :root {
    --title-size: 3.6rem;
    --section-padding: 12rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .hero {
    &__block {
      @include container();
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &__info {
      align-items: flex-start;
      text-align: left;
      width: 100%;
    }

    &__title {
      margin-top: 0;
    }
  }

  .about {
    flex-direction: row;
    align-items: flex-start;

    &__figure {
      flex: 1;
    }

    &__block {
      flex: 1;
    }

    &__text {
      width: 80%;
    }
  }

  .services {

    &__block {
      align-items: center;
      text-align: center;
    }

    &__deck {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .service {
    min-width: none;
  }

  .contact {
    &__block {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__list {
      justify-content: center;
      margin: 0;
      margin-left: 6.4rem;
    }
  }

  .footer {
    &__block {
      display: flex;
      justify-content: space-between;
    }
  }

}
