$hue: 345;
$color-black: hsl(0, 0%, 0%);
$color-bright: hsl(0, 0%, 100%);
$color-primary: hsl($hue, 100%, 60%);
$color-primary-light: hsl($hue, 89%, 72%);
$color-neutral: hsl(0, 0%, 46%);
$color-neutral-light: hsl(0, 0%, 89%);
$color-neutral-lightest: hsl(0, 0%, 98%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color: $color-neutral;
  font-family: 'DM Sans', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;
}

.title {
  color: $color-black;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.divider {
  background: linear-gradient(270deg, #69B99D 0%, rgba(204, 244, 230, 0.34) 100%);
  border: none;
  height: 1px;
  width: 100%;
}

body {
  font-size: 1.6rem;
}

.container {
  width: 87%;
  margin: auto;
}

//===== HEADER =====//
.header {
  color: crimson;
  background: $color-neutral-lightest;
  border-bottom: 1px solid $color-neutral-light;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  align-items: center;
  display: flex;
  font-size: 2.1rem;
  height: 7.2rem;
  justify-content: space-between;

  &__logo {
    color: $color-black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;

    &--primary {
      color: $color-primary;
    }
  }

  &__menu {
    color: $color-primary;
  }
}

//===== MAIN =====//
.main {
  margin-top: 7.2rem;
}

//===== SECTION =====//
.section {
  padding: 8rem 0;
}

//===== HERO =====//
.hero {
  background: $color-neutral-lightest;
  overflow: hidden;
  padding: 7.2rem 0 8rem;
  text-align: center;

  &__figure {
    right: 10%;
    line-height: 0;
    position: relative;
    z-index: 1;

    &::before {
      background-color: $color-primary;
      border-radius: .4rem;
      content: '';
      height: 103%;
      left: 16%;
      position: absolute;
      bottom: 15%;
      width: 103%;
      z-index: -1;
    }
  }

  &__photo {
    border-radius: .4rem;
    width: 103%;
  }

  &__title {
    margin-top: 3.2rem;
  }

  &__text {
    margin-top: 1.6rem;
  }

  &__button {
    background-color: $color-primary;
    border-radius: .4rem;
    color: $color-bright;
    display: inline-flex;
    font-weight: 500;
    margin-top: 3.6rem;
    padding: 1.6rem 3.2rem;
    text-decoration: none;
  }
}
